@keyframes pulsate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    transform: scale(1.3);
    opacity: 0;
  }
}

.about__circle_animation_blurred {
  animation: pulsate 1.3s 0s ease-in-out infinite;
}

.about {
  background-color: #0a2850;
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}

.about__title {
  margin: 0;
  margin-top: 100px;
  margin-left: 80px;
  max-width: 251px;
  color: #fff;
  z-index: 2;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.about__content {
  max-width: 660px;
  padding: 119px 0 80px 173px;
}

.about__paragraph {
  color: #fff;
  font-family: "Noto Serif", Times New Roman, serif;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 20px;
}

.about__paragraph:last-child {
  margin-bottom: 0;
}

.about__circle {
  width: 426px;
  height: 426px;
  position: absolute;
  top: -152px;
  left: -129px;
  z-index: 1;
  background-color: #2f80ed;
  border-radius: 50%;
}
