.card {
  margin-bottom: 0;
  width: 540px;
}

.card__list {
  padding-left: 0;
}

.card__title {
  margin: 0 0 32px;
  padding: 0;
  font-family: "Inter", Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

.card__list-item {
  list-style-type: none;
  margin: 0 0 16px;
  display: flex;
  font-family: "Notoro Serif", Times New Roman, serif;
  font-size: 16px;
  line-height: 20px;
}

.card__list-divider {
  flex-grow: 1;
  border-bottom: 1px solid #838383;
  margin: 0 12px;
}
