.form {
  max-width: 385px;
}

.form__fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.form__label {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.form__label-text {
  display: block;
  margin-bottom: 32px;
}

.form__input {
  display: block;
  margin-top: 8px;
  padding: 0 12px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #838383;
  height: 60px;
  width: 100%;
  font-family: "Inter", Arial, sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}

.form__button {
  border-radius: 4px;
  border: 0;
  height: 60px;
  width: 100%;
  margin: 32px 0 32px;
  font-family: "Inter", Arial, sans-serif;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background-color: #2f80ed;
}

.form__button:hover {
  transition: 1s 0s ease-in;
  opacity: 70%;
}
