.header {
  background-image: url("../images/background_header.svg");
  padding: 30px 80px 40px;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
}

.header__image {
  z-index: 1;
  position: absolute;
  width: 646px;
  height: 568px;
  top: 124px;
  right: 5px;
}

.header__title {
  max-width: 729px;
  margin: 183px 0 0 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
  z-index: 2;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif", Times New Roman, serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  margin: 28px 0 0 0;
  max-width: 683px;
  font-family: "Noto Serif", Times New Roman, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  z-index: 2;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  position: relative;
  margin-bottom: 40px;
  margin-right: 80px;
  z-index: 1;
  align-items: end;
}

.header__paragraph {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}
