.menu {
  padding: 100px 0 100px;
  background-color: #fff;
  background-image: url(../images/background_menu.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.menu__title {
  text-align: center;
  margin: 100px auto 24px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 780px;
}

.menu__subtitle {
  text-align: center;
  margin: 0 auto 100px;
  font-family: "Notoro Serif", Times New Roman, serif;
  font-size: 20px;
  line-height: 30px;
  max-width: 780px;
}

.menu__cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 100px 100px;
}
