.header {
    padding: 30px 80px 40px;
    min-height: 720px;
    max-height: 800px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url("/images/background_header.svg");
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
}

   .header__image {
    z-index: 1;
    position: absolute;
    max-width: 646px;
    max-height: 568px;
    top: 124px;
    right: 5px;
   }
   
   .header__title {
       max-width: 729px;
       margin: 183px 0 0;
       font-family: "Inter Arial sans-serif";
       font-style: normal;
       font-weight: 500;
       font-size: 60px;
       line-height: 72px;
       letter-spacing: -0.6px;
       position: relative;
       left: 80px;
   }
   
   
   .header__span-accent {
       display: block;
       font-family: "Notoro Serif, Times New Roman, serif family";
       font-style: italic;
       font-weight: normal;
       font-size: 60px;
       line-height: 72px;
       color: #2F80ED;
   }
   
   .header__description {
       margin: 28px 0 0;
       max-width: 683px;
       font-family: "Notoro Serif, Times New Roman, serif family";
       font-style: normal;
       font-weight: normal;
       font-size: 20px;
       line-height: 30px;
       position: relative;
       left: 80px;
   }
   
   .header__footer {
      display: flex;
      justify-content: space-between;
      margin-top: auto;
   }
   
   .header__paragraph {
      margin: 0;
      font-family: "Inter Arial sans-serif";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #838383;
   }