.menu {
    padding: 100px 0 100px;
    background-color: #fff;
    background-image: url(../images/background_menu.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.menu__title {
 text-align: center;
 margin: 0 0 24px;
 font-family: "Inter", Arial, sans-serif;
 font-weight: 500;
 font-size: 44px;
 line-height: 52px;
}

.menu__subtitle {
 text-align: center;
 margin: 0 0 100px;
 font-family: "Notoro Serif", Times New Roman, serif family;
 font-size: 20px;
 line-height: 30px;
}

.menu__cards {
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
 padding: 0;
 margin: 0;
 list-style: none;
}

.card {
 width: 540px;
 gap: 100px;
 margin-bottom: 100px;
}

.card__title {
 margin: 0 0 32px;
 padding: 0;
 font-family: "Inter", Arial, sans-serif;
 font-weight: bold;
 font-size: 20px;
 line-height: 30px;
}

.card__list-item {
list-style-type: none;
 margin: 0 0 16px;
 display: flex;
 font-family: "Notoro Serif", Times New Roman, serif family;
 font-size: 16px;
 line-height: 20px;
}

.card__list-divider {
 flex-grow: 1;
 border-bottom: 1px solid #838383;
}