.nav {
    display: flex;
    justify-content: space-between ;
    }
    
    .nav__logo {
    position: relative;
    top: 30px;
    left: 30px;
    max-width: 105px;
    max-height: 39px;
    }
    
    .nav__links {
        display: flex;
        column-gap: 30px;
        list-style-type: none;
        position: relative;
        top: 30px;
        right: 80px;
    }
    
    .nav__link {
        color: #000;
        text-decoration: none;
        font-family: "Inter", Arial, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
    }

    .nav__link:hover {
      color: #2f80ed;
    }